@import "./_variables.scss";
@import "./_mixins.scss";

.film {
  @include modifier(index) {
    flex-basis: 33.33%;
    padding: 30px;
    box-sizing: border-box;
  }
  @include element(link) {
    color: $color-black;
    display: block;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  @include element(img) {
    display: block;

    > img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      max-height: 450px;
    }
  }
}
