@import "./_mixins.scss";

.tns {
  &-outer {
    position: relative;
  }
  &-liveregion {
    display: none;
  }

  &-controls {
    button {
      cursor: pointer;
      border: 0;
      background: transparentize($color-black, 0.5);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      text-indent: -9999px;
      outline: none;
      background-position: 50%;
      background-size: 25%;
      background-repeat: no-repeat;
      border-radius: 50px;
      width: 50px;
      height: 50px;
      padding: 0;
      z-index: 1;
    }

    button[data-controls="prev"] {
      right: calc(100% - 75px);
      background-image: url("../gfx/gfx-chevron-left.svg");

    }

    button[data-controls="next"] {
      left: calc(100% - 75px);
      background-image: url("../gfx/gfx-chevron-right.svg");

    }
  }
}
