@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,200;1,500&display=swap');

$font-stack: 'Poppins', sans-serif;
$icons: 'Material Icons';
