@import "./_variables.scss";
@import "./_mixins.scss";

.footer {
  background: $color-silver;
  padding: 90px 0;
  @include mobile {
    padding: 60px 0;
  }
  @include element(container) {
    @include mk-container;
    flex-direction: row;
    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }
  @include element(logo) {
    background: url("../gfx/logo-bf-gray.png") no-repeat center center / contain;
    display: block;
    width: 180px;
    height: 90px;
    margin-right: 30px;
    @include mobile {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
  @include element(content) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.address {
  color: $color-gray-2;
  font-style: normal;
  font-weight: normal;
  @include mobile {
    text-align: center;
  }
}
