@import "./_variables.scss";
@import "./_mixins.scss";
@import "./_fonts.scss";

.header {
  $self: &;
  background-color: $color-primary;
  box-shadow: 0 0.15em 2em rgba(0,0,0,0.15);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  @include element(container) {
    @include mk-container;
    flex-direction: row;
    height: 50px;
    @include mobile {
      width: 100%;
    }
  }
  @include element(logo) {
    background: url("http://edukacja.bestfilm.pl/wp-content/uploads/2019/08/bestfilm-logo.png") center center no-repeat;
    background-size: contain;
    width: 70px;
    margin-right: 15px;
  }
  @include element(title) {
    margin: 0;
    color: $color-white;
    text-indent: -9999px;
  }
}

.nav {
  $self: &;
  width: 100%;
  top: 0;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  @include element(burger) {
    display: none;

    &:checked ~ #{$self}__container {
      display: flex;
      align-items: center;
    }
  }
  @include element(item) {
    float: left;
    display: flex;
    align-items: stretch;
    height: 100%;

    a {
      font-size: 1em;
      line-height: 1;
      font-style: normal;
      font-weight: 200;
      padding: 15px;
      color: $color-light-gray;
      position: relative;
      display: flex;
      align-items: center;
      @include mobile-tablet {
        flex-flow: column;
      }

      &:after {
        display: block;
        content: '';
        height: 4px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
      }

      &.active,
      &:active,
      &:hover,
      &:visited {
        color: $color-white;

        &:after {
          background-color: $color-secondary;
          @include mobile-tablet {
            height: 100%;
            width: 4px;
          }
        }
      }
    }

    &.current-menu-item {
      a {
        color: $color-white;

        &:after {
          background-color: $color-secondary;
          @include mobile-tablet {
            height: 100%;
            width: 4px;
          }
        }
      }
    }

    &--contact,
    &--search {
      float: right;
      &:hover {
        color: $color-primary;
      }
      @include desktop {
        text-indent: -9999px;
      }
      a {
        &:after {
          font-family: "Material Icons";
          box-shadow: 0 0.15em 2em rgba(0,0,0,0.15);
          border-radius: 50%;
          font-size: 1.25em;
          height: 35px;
          min-width: 35px;
          line-height: 1;
          margin: 5px;


          @include mobile-tablet {
            display: none;
            text-indent: 0;
          }
        }
      }
    }
    @include modifier(contact) {
      a {
        &:after {
          content: "local-post-office";
        }
      }
    }
    @include modifier(search) {
      a {
        &:after {
          content: "search";
        }
      }
    }
  }
  @include element(label) {
    background: url("../gfx/burger.svg") 50% 50% no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 30px;
    min-width: 30px;
    z-index: 10;
    margin: 7.5px 15px;
    @include desktop {
      display: none;
      margin-left: 0;
    }
  }
  @include element(container) {
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    left: 0;
    top: 50px;
    background-color: $color-primary;
    flex-flow: column;
    @include desktop {
      display: block;
      position: relative;
      top: 0;
      height: 100%;
    }
  }
}
