@import "./_variables.scss";
@import "./_mixins.scss";

.slider {
  display: flex;
  @include element(slide) {
    width: 100%;
    max-height: 60vh;
  }
  @include element(img) {
    display: block;

    > img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
