$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1365px;
$desktop-min: 1366px;

$color-fb: #3b5998;
$color-4y: #336699;
$color-black: #000;
$color-white: #fff;
$color-red: #c10000;
$color-gray: #666;
$color-silver: #ccc;
$color-silver-lite: #eee;

//best-film colors
$color-primary: #072553;
$color-secondary: #e9ce52;
$color-tertiary: #76b9e9;
$color-light: #f2f2f2;
$color-gray: #ebebeb;
$color-gray-2: #929292;
$color-light-gray: #bebebe;
