@import "./vendor/normalize.min.css";
@import "./_animate.scss";
@import "./_fixes.scss";
@import "./_fonts.scss";
@import "./_header.scss";
@import "./_slider.scss";
@import "./_footer.scss";
@import "./_film.scss";
@import "./_mixins.scss";
@import "./_sections.scss";
@import "./_variables.scss";

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Poppins",sans-serif;
}

body,
html {
  background: $color-white;
  color: $color-black;
  font-family: $font-stack;
  font-size: 100%;
  font-weight: normal;
  letter-spacing: normal;
}

a,
a:link {
  cursor: pointer;
  outline: none;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    opacity: 1;
    outline: none;
    text-decoration: none;
  }
}

.main {
   margin-top: 50px;
  @include element(section) {
    min-height: 640px;
    outline: 0;

    &:nth-of-type(2n) {
      background: $color-gray;
    }
  }
}


.koteczek {
  background: pink;
  height: 50px;
  width: 90px;
  display: none;
  @include mobile {
    display: block;
  }
}
